<table class="table">
  <thead>
    <tr>
      <th>Medium</th>
      <th>Product Detail Views</th>
      <th>Product Revenue</th>
    </tr>
  </thead>
  <tbody>
    <% @channels.each do |ch| %>
      <tr>
        <td><%= ch.medium %></td>
        <td><%= ch.visitors_count %></td>
        <td><%= ch.arpu_sum %></td>
      </tr>
    <% end %>
  </tbody>
</table>
