<h1>Activities</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @activities, theme: 'twitter-bootstrap-3' %>
